body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    background: hsl(0, 0%, 50%);
  }

.text-1 {
    background: linear-gradient(-45deg, #6355a4, #6355a4, #e89a3e, #e89a3e);
}
.text-2 {
    background: linear-gradient(-45deg, red, green, blue);
}
.text-3 {
    background: linear-gradient(-45deg, cyan, magenta, yellow);
}

.text-4 {
    background: linear-gradient(-45deg, #00B6C7, #E0FCFF);
}

.text {
	background-size: 300%;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 900;
	font-size: clamp(3rem, 8vw, 15rem);
    margin: 0.5em 0;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: animated_text 10s ease-in-out infinite;
	-moz-animation: animated_text 10s ease-in-out infinite;
	-webkit-animation: animated_text 10s ease-in-out infinite;
}



@keyframes animated_text {
	0% { background-position: 0px 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0px 50%; }
}