.block {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 2vw;
  padding-top: 750px;
  padding-bottom: 1500px;
}





.tabs label {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  order: 1;
  padding: 1rem 2rem;
  background-color: #888;
  font-weight: bold;
  cursor: pointer;
  transition: background ease 0.3s;
}
.tabs .tab {
  display: none;
  order: 9;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  padding: 20px;
  background: #fff;
}
@media (max-width: 991px) {
  .tabs {
    min-height: 300px;
    width: 500px;
  }
  .tabs label {
    margin-bottom: 1rem;
  }
  .tabs .tab {
  }
  .tabs input[type="radio"] {
    display: none;
  }
  .tabs input[type="radio"]:checked + label {
    background: #fff;
    margin-bottom: 0;
  }
  .tabs input[type="radio"]:checked + label + .tab {
    display: block;
    margin-bottom: 1rem;
  }
}
@media (min-width: 992px) {
  .tabs {
    min-height: 500px;
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    position: sticky;
    top: 0;
  }
  .tabs label {
    position: sticky;
    margin-bottom: 0;
    top: 0;
    z-index: 1;
  }
  .tabs .tab {
    gap: 1rem;
    align-items: start;
  }
  .tabs .tab img {
    flex: 1;
    width: 50%;
    position: sticky;
    top: 70px;
  }
  .tabs .tab .wrap {
    flex: 1;
    width: 50%;
  }
  .tabs input[type="radio"] {
    display: none;
  }
  .tabs input[type="radio"]:checked + label {
    background: #fff;
  }
  .tabs input[type="radio"]:checked + label + .tab {
    display: flex;
  }
}
