*, ::after, ::before {
    box-sizing: border-box;
}
body {
    font-size: 16px;
    background-color: whitesmoke;
    position: relative;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
img {
    max-width: 100%;
}
h1 {
    font-size: 6vw;
    text-align: center;
}
.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgba(0, 255, 0, 0.1);
}
.block:nth-child(even) {
    background-color: rgba(0, 0, 255, 0.1);
}
#block-1 {
    
}
#sidebar {
    font-family: inherit;
    font-size: 16px;
    width: 30px;
    height: 100dvh;
    background-color: white;
    color: #000;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 10000;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: all 0.2s ease;
}
/* Hide scrollbar for Chrome, Safari and Opera */
#sidebar::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
#sidebar  {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
#sidebar:hover {
    width: 300px;
}
#sidebar .wrapper {
    width: 300px;
    padding: 0 5px;
    min-height: calc(100dvh - 40px);
    opacity: 0;
    transition: all .2s ease;
}
#sidebar:hover .wrapper {
    opacity: 1;
}
#sidebar .logo {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 30px;
    z-index: 1;
}
#sidebar:hover .logo {
    width: 66px;
    background: linear-gradient(270deg, #888 0%, #fff 75%);
}
#sidebar h2 {
    font-size: 72px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -3px;
    color: inherit;
    margin: 0;
    text-orientation: upright;
    writing-mode: vertical-rl;
    transform: perspective(100px) rotateY(45deg);
    transform-origin: left;
    transition: all .2s ease;
    position: relative;
    left: -4px;
    top: 5px;
}
#sidebar:hover h2 {
    transform: perspective(100px) rotateY(0deg);
    background: linear-gradient(90deg, #000 0%, #fff 75%);
    background-clip: border-box;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
#sidebar .wrapper ul {
    padding-left: 78px;
    
    
}
#sidebar .wrapper ul ul {
    padding-left: 24px;
}
#sidebar .wrapper li::marker {
    color: #888;
    content: "► ";
}
#sidebar .wrapper span {
    color: #888;
}
#sidebar:hover .wrapper ul {
   
    
}
@media only screen and (max-width: 767px) {
    #sidebar {
        width: 35px;
    }
    #sidebar:hover {
        width: 80%;
    }
    #sidebar .wrapper ul {
        font-size: 20px;
    }
}